@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0D1117;
    color: #C9D1D9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    color: #00ff9f;
}

p {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

div a {
    margin: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.section-header {
    text-align: center;
    color: #00ff9f;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.section-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background-color: #181A1F;
    color: #C9D1D9;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #181A1F;
    color: #C9D1D9;
}

footer a {
    color: #00ff9f;
    text-decoration: none;
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}