@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2');

* {
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    scroll-behavior: smooth;
    background-image: url('https://giffiles.alphacoders.com/215/215450.gif');
    background-size: 100%;
    color: #eceeff;
}

section {
    display: grid;
    place-items: end;
    align-content: center;
    min-height: 100vh;
    padding-inline: 14rem;
    position: relative;
    overflow: hidden;
}

section:nth-child(odd) {
    place-items: start;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    background-color: #2a2c3d;
    padding: 20px 120px;
    width: auto;
    justify-content: space-evenly;
}

nav a {
    font-size: 18px;
    color: #eceeff;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #ffd700;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.title {
    color: #ffd700;
    font-weight: 900;
    font-size: 3rem;
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

h1::selection,
p::selection,
nav a::selection {
    background-color: #e9c217;
}

.intro {
    width: 60rem;
    font-size: 18px;
    margin-top: 1%;
    line-height: 1.6;
}

.sub-title {
    font-size: 60px;
    color: #ffd700;
}

.socials {
    margin-top: 1%;
}

.social-icon {
    font-size: 36px;
    transition: transform 0.3s ease-in-out;
    margin-right: 2rem;
}

a:hover .fa,
a:hover .fab {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #ffd700;
}

footer {
    display: grid;
    place-items: center;
    padding: 1%;
    opacity: 70%;
}

#about a span {
    position: absolute;
    margin-top: 15rem;
    margin-inline: 42rem;
    width: 24px;
    height: 24px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.card-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
}

.card {
    width: 36rem;
    height: 18rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffd00057;
    opacity: 1;
}

.card img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
}

.card-content h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: bold;
    color: #ffd700;
    font-family: 'Roboto Mono', monospace;
}

.card-content p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    inset: auto auto 80px 30px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.card:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.1;
}

.card:hover p {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    section {
        padding-inline: 10%;
    }

    .title {
        font-size: 38px;
    }
    .intro {
        width: 20rem;
        font-size: 13px;
    }

    nav {
        gap: 2rem;
    }

    #about a span {
        margin-top: 8rem;
        margin-inline: 8.8rem;
    }

    .social-icon {
        font-size: 40px;
    }

    .card {
        width: 20;
    }
}