/* @import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2');

/* Tipos */
body {
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
    color: #000000;
    text-shadow: 2px 2px 2px #7a7a7a;
}

h1 {
    color: #000000;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px #7a7a7a;
}

section {
    display: grid;
    align-content: center;
    min-height: 100vh;
    padding-inline: 14rem;
    position: relative;
    overflow: hidden;
}

section:nth-child(odd) {
    place-items: start;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    background-color: #000000;
    padding: 1rem 4rem;
    width: auto;
    justify-content: space-evenly;
    text-shadow: 2px 2px 2px #000000;
}

nav a {
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #FFC436;
}

.nav a.active {
    color: #FFC436;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

footer {
    display: grid;
    place-items: center;
    padding: 1%;
    opacity: 70%;
}

#about {
    padding-inline: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* IDs */
#about a span {
    position: absolute;
    margin-top: 15rem;
    margin-inline: 42rem;
    width: 24px;
    height: 24px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
}

/* @keyframes */
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

/* Classes */
.imgpor {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.fame {
    border: 6px double #000000;
    padding: 20px;
    background-color: #e0e0e0;
    line-height: 4.5rem;
    border-radius: 3px;
    margin-top: 4rem;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
}

.img {
    width: 80vw;
}

.social-icon {
    color: #000000;
    text-shadow: 2px 2px 2px #7a7a7a;
}

.hall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.glory {
    width: calc(20vw - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.glory img {
    width: 20vw;
    height: auto;
    border-radius: 8px;
}

.glory p {
    margin-top: 10px;
}

.title {
    color: #000000;
    font-weight: 900;
    font-size: 3rem;
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

h1::selection,
p::selection,
nav a::selection {
    background-color: #FFC436;
}

.intro {
    border: 6px double #000000;
    padding: 20px;
    background-color: #e0e0e0;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5rem;
    border-radius: 3px;
}

.intro2 {
    border: 6px double #000000;
    padding: 20px;
    background-color: #e0e0e0;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5rem;
    border-radius: 3px;
    width: calc(80vw - 40px);
}

.sub-title {
    font-size: 60px;
    color: #FFC436;
}

.socials {
    margin-top: 1%;
}

.social-icon {
    font-size: 36px;
    transition: transform 0.3s ease-in-out;
    margin-right: 2rem;
}

a:hover .fa,
a:hover .fab {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #000000;
}

.card-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
}

.card {
    position: relative;
    width: 300px;
    height: 168.75px;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px;
    display: inline-block;
    background: linear-gradient(145deg, #f9f9f9, #e0e0e0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    z-index: 2;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    font-size: 60%;
}

.card:hover .card-content {
    transform: translateY(0%);
}

@media screen and (max-width: 768px) {
    section {
        padding-inline: 10%;
    }
    }

    #about {
        padding-inline: 2%;
    }
    .glory {
        width: calc(100% - 20px);
        margin-right: 3rem;
    }

    .glory p {
        width: 100%;
    }

    section {
        padding-inline: 10%;
    }

    .title {
        font-size: 38px;
    }

    .intro {
        width: 20rem;
        font-size: 13px;
        border-radius: 10px;
    }

    nav {
        gap: 2rem;
    }

    nav a {
        font-size: 0.6rem;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 700;
        transition: .3s;
    }

    nav {
        display: flex;
        background-color: #000000;
        padding: 1rem 2rem;
        width: auto;
        justify-content: space-evenly;
        text-shadow: 2px 2px 2px #000000;
    }

    #about a span {
        position: absolute;
        margin-top: 15rem;
        margin-inline: 42rem;
        width: 24px;
        height: 24px;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        box-sizing: border-box;
    }

    @-webkit-keyframes sdb05 {
        0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

    @keyframes sdb05 {
        0% {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

